h2{color:#00B7D1;}
tfoot td:last-of-type{
    background:#efefef;
    text-align:center;
    padding:1rem 0;
    font-size:1.25rem;
}

figcaption input[type="text"]:not(#search){
    height:3rem;
    width:2.8rem;
}
figcaption select{width:10rem;height:3rem;}


@media only screen and (max-width: 960px){
    tfoot{display:block;}
    tfoot td{padding-left:0 !important;}
}
